{% extends '::base.html.twig' %}

{% block title %}
    {% trans %}message.error{% endtrans %} : {{ status_text }}
{% endblock %}

{% block body %}

    <h1>Oops! {% trans %}message.error{% endtrans %}</h1>
    <img src="http://placekitten.com/g/200/300" alt="Kitten"/>
    <p>{% trans %}error404.message{% endtrans %}</p>

{% endblock %}