{% extends '::base.html.twig' %}

{% block title %}
    Une erreur est survenue : {{ status_text }}
{% endblock %}

{% block body %}

    <h1>Oups! Une erreur est survenue</h1>
    <img src="http://placekitten.com/g/200/300" alt="Kitten"/>
    <p>La page que vous recherchez n'existe pas. Vous pouvez retourner vers l'Accueil pour avoir la liste des actualités ou en chercher une à partir du lien Recherche.</p>

{% endblock %}