{% extends '::base.html.twig' %}

{% block title %}
    {% trans %}message.error{% endtrans %} : {{ status_text }}
{% endblock %}

{% block body %}

    <h1>Oops! {% trans %}message.error{% endtrans %}</h1>
    <h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>

{% endblock %}