{% extends '::base.html.twig' %}

{% block title %}
    Mon Blog
{% endblock %}

{% block body %}
    <div id="listPosts" class="form-group">
        {% for post in posts %}
            <article>
                {{ include('Partials/headArticle.html.twig', { 'post': post }) }}
            </article>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
