{% extends '::base.html.twig' %}

{% block title %}
    Mon Blog
{% endblock %}

{% block body %}
    <h1>Recherche : "{{ text }}"</h1>
    <div id="listPosts">
        {% for post in posts %}
            <article>
                {{ include('Partials/headArticle.html.twig', { 'post': post }) }}
            </article>
        {% endfor %}
    </div>
    <br /><br />
{% endblock %}
