body {
    padding-top: 70px;

    #article_wrapper{
        .articleContent{
            width:800px;
        }
        .details{
            font-size:12px;
            color:#777;
            padding-bottom: 10px;

            span.author{
                color: #555;
                font-weight:bold;
            }
            span.date{
                font-style:italic;
            }
            span.category{
                color: #3104B4;
            } 
        }
    }

    #comments{
        #commentForm{
            width:450px;
            max-height: 200px;
            textarea{
                max-height:180px;
            }
        }    
        .comment{
            .details{
                color:#888;
                font-size:10px; 
            }
            p{
                font-size:12px;
            }
            border-bottom: 1px solid #EEE;
            
            padding-top:5px;
            padding-left:20px;
        }

    }
    textarea{
        resize:vertical;
    }

}